# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

/nbproject
/nbproject/*

# Ignore modules that are maintained in separate git repos
sites/all/modules/shared_unofficial

# Ignore backstop directories as they are automatically regenerated every time.
bitmaps_reference
html_report
