.card {
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}
.card-pop {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-pop:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}
.card-reset {
  border-radius: none;
  box-shadow: none;
}
.card-reset:hover {
  box-shadow: none;
}
.bottom-grad {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 90%, #ebebeb 30px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #ffffff), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: -o-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: linear-gradient(to bottom, #ffffff 90%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
}
/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */
footer#section-footer #region-footer-first {
  background: url('../images/footer-tools-bg.png') 0 0 repeat;
  min-height: 250px;
  text-align: right;
}
#zone-footer .region-inner {
  padding: 75px 20px 20px 20px;
}
#zone-footer .region-footer-second-inner {
  padding-left: 0px;
}
/* --------------------------------------------------------------------------
   Misc and Dashboard
   -------------------------------------------------------------------------- */
body.resources-dashboard #zone-preface .block-inner {
  padding: 20px 50px;
}
.view-pp-resource-lists .views-field-value,
.view-pp-resource-lists .views-field-value-1 {
  min-width: 280px;
}
article form.shared-vote-input-form {
  width: 275px;
  float: right;
  margin: 0px 0px 10px 20px;
  padding-left: 20px;
  border-left: 0px solid #E3E3E3;
  border-bottom: none;
}
body.page-node-edit .field-widget-options-buttons .form-checkboxes:after,
body.page-node-add .field-widget-options-buttons .form-checkboxes:after,
body.page-eform-submit .field-widget-options-buttons .form-checkboxes:after {
  content: "";
  display: table;
  clear: both;
}
body.page-node-edit .field-widget-options-buttons .form-checkboxes .form-item,
body.page-node-add .field-widget-options-buttons .form-checkboxes .form-item,
body.page-eform-submit .field-widget-options-buttons .form-checkboxes .form-item {
  float: left;
  margin-right: 2em;
  min-width: 25%;
}
body.page-node-edit .field-name-field-activity-crl-status.field-widget-options-buttons .form-checkboxes .form-item,
body.page-node-add .field-name-field-activity-crl-status.field-widget-options-buttons .form-checkboxes .form-item,
body.page-eform-submit .field-name-field-activity-crl-status.field-widget-options-buttons .form-checkboxes .form-item,
body.page-node-edit .field-name-field-resource-status.field-widget-options-buttons .form-checkboxes .form-item,
body.page-node-add .field-name-field-resource-status.field-widget-options-buttons .form-checkboxes .form-item,
body.page-eform-submit .field-name-field-resource-status.field-widget-options-buttons .form-checkboxes .form-item {
  float: none;
}
aside#activity-documents {
  border: 1px solid #d9d9d0;
  border-radius: 3px;
  background-color: #fbfbfa;
  padding: 15px;
  padding-top: 0px;
  float: right;
  margin: 0px 0px 15px 15px;
  width: 40%;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-facet {
  clear: none;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb.no-active-filters,
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-add {
  display: none;
}
/*# sourceMappingURL=crl-alpha-default.css.map */