.card,
.horizontal-tabs {
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}
.card-pop {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-pop:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}
.card-reset {
  border-radius: none;
  box-shadow: none;
}
.card-reset:hover {
  box-shadow: none;
}
.bottom-grad,
body.resources-dashboard #zone-postscript .region,
.horizontal-tabs {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 90%, #ebebeb 30px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #ffffff), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: -o-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #ffffff 90%, #ebebeb 100%);
  background: linear-gradient(to bottom, #ffffff 90%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?12465468');
  src: url('../font/fontello.eot?12465468#iefix') format('embedded-opentype'), url('../font/fontello.woff2?12465468') format('woff2'), url('../font/fontello.woff?12465468') format('woff'), url('../font/fontello.ttf?12465468') format('truetype'), url('../font/fontello.svg?12465468#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12465468#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-crl_desiderata:before {
  content: '\e800';
}
/* '' */
.icon-license_available:before {
  content: '\e801';
}
/* '' */
.icon-trial_access_available:before {
  content: '\e802';
}
/* '' */
.icon-license_renewal_available:before {
  content: '\e803';
}
/* '' */
.icon-past_license_offer:before {
  content: '\e804';
}
/* '' */
.icon-inactive_declined:before {
  content: '\e805';
}
/* '' */
.icon-crl_review_available:before {
  content: '\e806';
}
/* '' */
.icon-chart-line:before {
  content: '\e807';
}
/* '' */
.icon-attention:before {
  content: '\e808';
}
/* '' */
.icon-doc-add:before,
.icon-message.resource_new:before {
  content: '\e809';
}
/* '' */
.icon-comment:before,
.icon-message.resource_new_comment:before {
  content: '\e80a';
}
/* '' */
.icon-pencil:before,
.icon-message:before,
.icon-message.resource_update:before {
  content: '\e80b';
}
/* '' */
.icon-download:before {
  content: '\e80c';
}
/* '' */
.icon-cancel:before {
  content: '\e80d';
}
/* '' */
.icon-star:before {
  content: '\e80e';
}
/* '' */
.icon-level-up:before {
  content: '\e80f';
}
/* '' */
.icon-approved:before {
  content: '\e810';
}
/* '' */
.icon-vetted:before {
  content: '\e811';
}
/* '' */
.icon-flagged:before {
  content: '\e812';
}
/* '' */
.icon-rss:before {
  content: '\f09e';
}
/* '' */
.icon-digitized:before {
  content: '\f108';
}
/* '' */
.icon-on_ballot:before {
  content: '\f123';
}
/* '' */
.icon-thumbs-up-alt:before {
  content: '\f164';
}
/* '' */
.icon-thumbs-down-alt:before {
  content: '\f165';
}
/* '' */
.icon-license_under_consideration:before {
  content: '\f252';
}
/* '' */
.icon-fire:before {
  content: '\f525';
}
/* '' */
/* --------------------------------------------------------------------------
   Main zones and regions
   -------------------------------------------------------------------------- */
#section-content {
  margin-top: 20px;
}
#zone-content {
  padding-top: 0px;
}
#region-content {
  margin-top: 24px;
  margin-bottom: 24px;
}
#region-content .content {
  padding: 0 10px;
}
#zone-preface-wrapper {
  background-color: transparent;
}
body.post-content-only #zone-content,
body.post-content-only #page {
  background: none;
  border: none;
}
/* --------------------------------------------------------------------------
   Global Typography
   -------------------------------------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.5;
  color: #333;
}
h1,
h2,
h2.block-title,
h3,
h4,
h5,
h6,
.group-analysis > .fieldset-wrapper > .field-label-above .field-label {
  letter-spacing: normal;
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 10px 0 20px 0;
}
h1 {
  font-size: 180%;
}
h2,
.group-analysis > .fieldset-wrapper > .field-label-above .field-label {
  font-size: 150%;
  border-bottom: 1px solid #bbb;
  color: #414169;
  text-transform: none;
}
h2.node-title {
  border: none !important;
}
h3,
.field-label,
#node_resource_full_group_analysis .group_sources .field-label-above .field-label {
  font-size: 110%;
  border: none;
  color: #333;
}
h4 {
  font-size: 100%;
}
.element-invisible {
  display: none;
}
label {
  padding-bottom: 3px;
}
#page a {
  color: #493986;
  transition: color 100ms ease-out;
}
#page a:hover {
  color: #d06500;
}
a.inline-button {
  background-color: #9c9eb0;
  transition: background-color 0.15s ease-in-out !important;
  font-size: 90%;
  padding: 5px;
  margin: 2px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 2.5;
}
a.inline-button:hover {
  background-color: #b8bac7;
}
#page p {
  color: #333;
}
#region-content h1#page-title {
  margin-left: 10px;
  font-weight: 300;
}
span.m-edes {
  font-style: italic;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 107%;
  margin-right: 0.12em;
}
.field {
  margin-top: 1em;
}
.field-label-inline > .field-label {
  margin-top: -0.1em;
}
.field-label-above > .field-label {
  margin-bottom: 0.5em;
}
.field-label > .field-colon {
  display: none;
}
.field-label-inline .field-item {
  padding-left: 0.5em;
}
sup {
  vertical-align: super;
  font-size: 80%;
}
sub {
  vertical-align: sub;
  font-size: 80%;
}
th {
  font-weight: bold;
}
ol,
ul {
  margin-left: 1em;
}
ul li,
.item-list ul li {
  list-style: disc outside none;
}
ul li.vertical-tab-button,
ul li.horizontal-tab-button,
.rate-widget ul li {
  list-style: none;
}
hr {
  background: none repeat scroll 0 0 #bbb;
}
blockquote {
  border-left-width: 3px;
  border-color: #ccc;
  border-style: solid;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 8px;
  font-style: italic;
}
/* --------------------------------------------------------------------------
   Header Styles - General
   -------------------------------------------------------------------------- */
#section-header {
  background-color: #474b6f;
  background-image: url("../images/world-bg.png?v=6");
  background-size: 538px;
  background-repeat: no-repeat;
  background-position: center top;
  height: auto;
  position: relative;
  box-shadow: inset 0 -4px 15px -6px #333;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  #section-header {
    background-image: url("../images/world-bg2x.png?v=6");
  }
}
#zone-header {
  position: relative;
}
#section-header {
  color: #fff;
}
#section-header p,
#section-header a,
#section-header a.active,
#section-header a:hover {
  color: #fff !important;
}
#header-logo {
  position: relative;
  width: 300px;
  margin: auto;
  padding-top: 20px;
}
#header-logo a.logo {
  background-image: url("../images/sprites.png?v=6");
  background-size: 500px;
  height: 67px;
  width: 300px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-position: 0px -600px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  #header-logo a.logo {
    background-image: url("../images/sprites2x.png?v=6");
  }
}
#header-typography {
  text-align: center;
  padding-bottom: 10px;
}
#header-user-tools {
  padding-bottom: 10px;
  text-align: center;
  font-size: 90%;
}
h1.site-name,
h2.site-name {
  margin: 0px 0px 10px 0px;
  font-family: Raleway, sans-serif;
  font-size: 300%;
  font-weight: 100;
  text-decoration: none;
  border: none;
}
.site-name .rtm {
  font-size: 30%;
  vertical-align: super;
}
p.site-slogan {
  display: none;
}
header#section-header span.ext {
  background: none !important;
  padding: 0px;
}
/* --------------------------------------------------------------------------
   Header Styles - Menu
   -------------------------------------------------------------------------- */
#header-menus .main-menu,
#header-menus .secondary-menu {
  display: none;
}
#header-menus .main-menu ul li,
#header-menus .secondary-menu ul li {
  display: inline-block;
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  text-align: center;
}
#header-menus .main-menu ul li a,
#header-menus .secondary-menu ul li a {
  display: block;
  height: 29px;
  padding: 5px 15px;
  background-color: #1a1c35;
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out !important;
}
#header-menus .main-menu ul li a.active,
#header-menus .secondary-menu ul li a.active,
#header-menus .main-menu ul li a.active-trail,
#header-menus .secondary-menu ul li a.active-trail {
  color: #333 !important;
  background-color: #fbfbfa !important;
}
#header-menus .main-menu ul li a:hover,
#header-menus .secondary-menu ul li a:hover,
#header-menus .main-menu ul li a:active,
#header-menus .secondary-menu ul li a:active,
#header-menus .main-menu ul li a:focus,
#header-menus .secondary-menu ul li a:focus {
  color: #fff !important;
  background-color: #8ca36b !important;
}
form#ctools-jump-menu {
  width: 100px;
  margin: auto;
  padding-bottom: 15px;
}
/* --------------------------------------------------------------------------
   Footer Styles
   -------------------------------------------------------------------------- */
#zone-footer,
#zone-footer-wrapper {
  position: relative;
}
#zone-footer .region-footer-first-inner {
  padding-top: 75px;
}
footer#section-footer {
  margin-top: 30px;
  background-color: #2B2A45;
  color: #D1CFBD;
  box-shadow: inset 0 8px 15px -6px #222;
  font-size: 90%;
  position: relative;
}
footer#section-footer a {
  text-decoration: none;
}
footer#section-footer a:hover {
  background-color: #fff !important;
  color: #333 !important;
}
footer#section-footer a,
footer#section-footer p {
  color: #D1CFBD;
}
footer#section-footer ul li {
  list-style: none;
}
footer#section-footer span.ext {
  background: none !important;
  padding: 0px;
}
footer#section-footer #region-footer-first a,
footer#section-footer .footer-topper a {
  font-weight: bold;
  color: #fff;
}
footer#section-footer .footer-topper {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #9c9eb0;
  text-align: center;
}
footer#section-footer .footer-topper h3 {
  margin: 20px 0px 10px 0px;
}
/* --------------------------------------------------------------------------
   Block Content Styles - Common
   -------------------------------------------------------------------------- */
#zone-content h2.block-title {
  color: #333;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e3e3e3;
}
#region-sidebar-first .block,
#region-sidebar-second .block,
.comment-nested-wrapper {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  margin-bottom: 20px;
  margin-top: 24px;
  margin-right: 15px;
  padding: 18px;
}
/* --------------------------------------------------------------------------
   Blocks Content Styles - Facet Blocks
   -------------------------------------------------------------------------- */
.block-facetapi .content li {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
section.block ul.facetapi-facetapi-links li {
  clear: left;
  float: left;
  width: 100%;
  padding: 0.3em 0em;
}
section.block ul.facetapi-facetapi-links li a {
  text-decoration: none !important;
}
.block ul.facetapi-facetapi-links li a.facetapi-active {
  float: right;
  display: inline-block;
  white-space: nowrap;
}
.block ul.facetapi-facetapi-links li a.facetapi-active i.icon {
  color: red;
  font-size: larger;
  margin-right: 0 !important;
}
#zone-content h2.block-title span.facet-group {
  font-size: 110%;
  font-weight: bold;
}
ul#facetapi-facet-search-apititle-search-index-block-crl-resource-status-backref i.icon {
  float: left;
  margin-right: 8px;
}
ul#facetapi-facet-search-apititle-search-index-block-crl-resource-status-backref a span.facet_api_text {
  float: left;
  max-width: 70%;
}
ul.facetapi-facet-field-resource-glossary li,
ul.facetapi-facet-crl-resource-glossary-value li,
ul.facetapi-facet-crl-glossary-value li {
  display: inline;
  padding: 3px 5px;
  margin: 0 2px 0 0 !important;
  border-right: 1px solid #999;
}
ul.facetapi-facet-field-resource-glossary li.last,
ul.facetapi-facet-crl-resource-glossary-value li.last,
ul.facetapi-facet-crl-glossary-value li.last {
  border-right: none;
}
ul.facetapi-facet-field-resource-glossary li a,
ul.facetapi-facet-crl-resource-glossary-value li a,
ul.facetapi-facet-crl-glossary-value li a {
  text-decoration: none !important;
}
ul.facetapi-facet-field-resource-glossary .facetapi_count_value,
ul.facetapi-facet-crl-resource-glossary-value .facetapi_count_value,
ul.facetapi-facet-crl-glossary-value .facetapi_count_value {
  display: none;
}
ul.facetapi-facet-field-resource-glossary li a.facetapi-active,
ul.facetapi-facet-crl-resource-glossary-value li a.facetapi-active,
ul.facetapi-facet-crl-glossary-value li a.facetapi-active {
  float: none !important;
  margin-right: 0.5em;
}
#resource_sort_opts,
#helpers_sort_opts {
  display: none;
  float: right;
  margin-bottom: 10px;
}
#resource_sort_opts_links,
#helpers_sort_opts_links {
  float: right;
  width: 150px;
  margin-bottom: 10px;
}
.form-item-search-api-views-fulltext input {
  width: 100% !important;
}
/* --------------------------------------------------------------------------
   Blocks Content Styles - Misc
   -------------------------------------------------------------------------- */
#block-crl-helpers-crl-helpers-interest-input i.icon {
  font-size: 120%;
}
#block-crl-helpers-crl-helpers-interest-input .interest-vote {
  color: green;
  font-weight: bold;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  margin: 20px 0px;
  padding: 10px;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb a {
  text-decoration: none;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .active-facet-wrapper {
  display: inline-block;
  margin: 0.2em 1em 0.2em 0;
  padding: 5px 8px;
  background-color: #eee;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-facet {
  float: left;
  clear: left;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-add {
  background-color: transparent;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-misc {
  font-weight: bold;
  float: left;
  background-color: transparent;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-reset {
  background-color: transparent;
  float: right;
  margin-right: 0;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-facets {
  display: block;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-extras {
  display: block;
  margin-top: 10px;
  padding: 20px 10px 10px 0px;
  border-top: 1px solid #ACBFB1;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-extras fieldset {
  margin: 0;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-extras .fieldset-wrapper {
  margin: 15px 0 0 20px;
}
#block-crl-helpers-crl-helpers-facet-breadcrumb .facet-breadcrumb-extras .fieldset-legend {
  font-weight: normal;
}
.facet-breadcrumb-reset-icon {
  margin-right: 8px;
  color: red;
}
#search-api-saved-searches-save-form-wrapper input#edit-name {
  width: 50%;
}
a#back-to-index {
  font-size: 80%;
  text-decoration: none;
}
a#back-to-index i {
  font-size: 130%;
  color: #000;
}
/* --------------------------------------------------------------------------
   Main Content Styles
   -------------------------------------------------------------------------- */
#region-content .field-type-computed article .content,
#region-content article article.node .content {
  padding: 0px;
}
.group_activity_trial h2 {
  margin-top: 2em;
}
#breadcrumb .breadcrumb {
  font-size: 80%;
  padding-bottom: 1em;
}
#block-delta-blocks-breadcrumb {
  float: right;
}
#breadcrumb .breadcrumb a {
  color: #666;
  text-align: left;
}
.hidden {
  display: none;
}
/* --------------------------------------------------------------------------
   Content-specific Field styles
   -------------------------------------------------------------------------- */
.field-label-inline .field-item:after {
  content: ",";
}
.field-label-inline .field-item:last-child:after {
  content: "";
}
#node_resource_full_group_details .tablefield-wrapper td.col_0 {
  width: 40%;
}
img.from-provider-icon {
  float: right;
}
.field-group-div {
  padding-bottom: 1em;
}
#publisher-legend {
  float: right;
  margin: 5px 0px 10px 10px;
}
#publisher-legend img {
  vertical-align: middle;
}
.field-name-field-contacts-group .field-collection-view,
.field-name-field-contacts-group .field-collection-view .content {
  padding-left: 0 !important;
  margin-left: 0 !important;
  border: none;
}
.field-name-field-contacts-group .field-collection-view,
.field-name-field-contacts-group .field-collection-view .field-label {
  width: auto;
  font-weight: normal;
  font-size: 100%;
}
.field-name-field-contacts-group .field-collection-view .field {
  margin: 0;
}
.field-collection-container {
  border: none;
}
/* --------------------------------------------------------------------------
   Views Lists
   -------------------------------------------------------------------------- */
.view-resource-lists .views-row,
.view-provider-lists .views-row,
.views-row.item-list-box {
  background-color: #fff;
  border: 1px dotted #999;
  padding: 15px;
}
.view-resource-lists .views-row.views-row-even,
.view-provider-lists .views-row.views-row-even,
.views-row.item-list-box.views-row-even {
  background-color: #eaeaea;
}
.view-resource-lists h2,
.view-provider-lists h2,
.view-resource-lists h3,
.view-provider-lists h3 {
  border: none;
}
.view-resource-lists .teaser-details,
.view-provider-lists .teaser-details {
  margin-top: 1.5em;
}
.views-exposed-widgets {
  margin-bottom: 0.5em;
}
.views-row {
  margin-bottom: 20px;
}
.view-content h3 {
  background-color: transparent;
  border-bottom: 1px solid #ACBFB1;
  border-top: 1px solid #ACBFB1;
  color: #333;
  display: block;
  padding: 5px 0 5px 20px;
}
.view-content h3 a {
  text-decoration: none !important;
}
/* --------------------------------------------------------------------------
   Dashboard - General
   -------------------------------------------------------------------------- */
body.dashboard #zone-content {
  background: none;
  border: none;
  margin-bottom: 10px;
}
body.dashboard #region-content,
body.dashboard #region-content .content {
  padding: 0px;
  margin-top: 0px;
}
body.dashboard #zone-preface .block-inner,
body.dashboard #zone-user .block-inner,
body.dashboard #zone-postscript .block-inner {
  background-color: #fff;
  outline: 1px solid #999;
  margin-bottom: 20px;
  padding: 20px;
  transition: outline 0.15s ease-in-out;
}
body.dashboard h3 a {
  text-decoration: none;
  font-size: 115%;
}
body.dashboard .more-link {
  text-align: left;
}
body.equal-postscript #zone-postscript .block-inner {
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  padding: 0px;
}
body.equal-postscript #zone-postscript .region {
  background-color: #fff;
  margin-bottom: 20px;
  outline: 1px solid #999;
}
body.equal-postscript #zone-postscript .region .block {
  padding: 20px;
}
/* --------------------------------------------------------------------------
   Dashboard - Resources / Homepage
   -------------------------------------------------------------------------- */
body.resources-dashboard #zone-preface .block-inner {
  padding: 20px;
}
body.resources-dashboard #zone-preface .view-display-id-block_4 {
  width: 49%;
  float: left;
}
body.resources-dashboard #zone-preface .view-display-id-block_5 {
  width: 50%;
  float: right;
  border-left: 1px dotted #999999;
}
body.resources-dashboard #zone-preface .view-display-id-block_4 .dashboard-lead-top {
  margin-right: 20px;
}
body.resources-dashboard #zone-preface .view-display-id-block_5 .dashboard-lead-top {
  margin-left: 20px;
}
body.resources-dashboard .dashboard-lead {
  text-align: center;
}
body.resources-dashboard .dashboard-lead h3 {
  margin: 0px;
  text-decoration: none;
}
body.resources-dashboard .dashboard-lead h3 i.icon {
  font-size: 110%;
}
body.resources-dashboard .super-num {
  font-family: Raleway;
  font-size: 300%;
  font-weight: 200;
}
/* --------------------------------------------------------------------------
   Pagination
   -------------------------------------------------------------------------- */
.pager {
  background: none repeat scroll 0 0 #EBEBEB;
  border-color: #DDDDDD #BBBBBB #999999;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
}
.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
  width: 80px;
}
.pager li.pager-next {
  right: 80px;
}
.pager li.first,
.pager li.first a,
.pager li.first a:hover {
  border-radius: 3px 0 0 3px;
}
.pager li.pager-last,
.pager li.pager-last a,
.pager li.pager-last a:hover {
  border-radius: 0 3px 3px 0;
}
.pager li.pager-current {
  background: none;
  background-color: #e05300 !important;
  color: #FFFFFF;
  outline: 0 none;
}
.pager li a:hover {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #e97100;
}
.item-list .pager {
  margin-bottom: 10px;
}
/* --------------------------------------------------------------------------
   Horizontal Tabs
   -------------------------------------------------------------------------- */
.field-group-htabs-wrapper {
  background-color: #fff;
}
.horizontal-tabs ul.horizontal-tabs-list {
  background-color: #eff2eb;
  border: none;
}
.horizontal-tabs ul.horizontal-tabs-list li {
  padding: 0px;
  border-right: 1px solid #fff;
}
.horizontal-tabs ul.horizontal-tabs-list li.last {
  border-right: none;
}
.horizontal-tabs ul.horizontal-tabs-list li a {
  background-color: #8ca36b;
  color: #fff !important;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out !important;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: #fff;
  color: #444 !important;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected {
  padding: 0px;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background-color: #fff;
  color: #000 !important;
}
.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 18px;
}
/* --------------------------------------------------------------------------
   Buttons
   -------------------------------------------------------------------------- */
input.form-checkbox,
input.form-radio {
  margin-right: 3px;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.6em;
}
button,
.button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.form-actions input,
aside .block .flag {
  background-image: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  background-color: #da6a00;
  border-color: #fff;
  color: #fff !important;
  cursor: pointer;
  font-weight: bold;
  font-size: smaller;
  outline: 0 none;
  overflow: visible;
  padding: 5px 10px 5px;
  margin: 0px 5px 5px 0px !important;
  text-shadow: none;
  width: auto;
  text-decoration: none !important;
  white-space: nowrap;
}
button:hover,
.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.form-actions input:hover,
aside .block .flag:hover,
button:active,
.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
.form-actions input:active,
aside .block .flag:active {
  background-color: #e97100;
  border-color: #e97100;
}
.button {
  line-height: 3em;
}
button a,
.button a,
a.button {
  color: #fff !important;
  text-decoration: none !important;
}
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}
nav.links ul li a {
  background: whitesmoke;
  border-radius: 5px;
  font-weight: normal;
  font-size: 80%;
  float: none;
  display: inline-block;
}
nav.links ul li a:hover {
  background: #fff;
  color: #493986 !important;
}
nav.comment-links ul li {
  float: right;
}
/* --------------------------------------------------------------------------
   Form fields and edit modes
   -------------------------------------------------------------------------- */
/* Common input styling */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-box-sizing: border-box;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-color: #848484 #C1C1C1 #E1E1E1;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  color: #444;
  font-size: 80%;
  height: 2em;
  outline: 0 none;
  padding: 2px 3px;
}
textarea {
  height: inherit !important;
}
body.page-node-edit fieldset.field-group-fieldset,
body.page-node-add fieldset.field-group-fieldset,
body.page-node-edit fieldset.form-tablefield,
body.page-node-add fieldset.form-tablefield {
  border: 1px solid #b7b7b7;
  padding: 20px;
  background-color: #F5F5F5;
}
body.page-node-edit fieldset.field-group-fieldset > legend > span.fieldset-legend,
body.page-node-add fieldset.field-group-fieldset > legend > span.fieldset-legend,
body.page-node-edit fieldset.form-tablefield > legend > span.fieldset-legend,
body.page-node-add fieldset.form-tablefield > legend > span.fieldset-legend {
  font-size: 140%;
  margin: 0px 8px;
}
.webform-client-form fieldset {
  border: 1px solid #b7b7b7;
  padding: 20px;
}
.webform-client-form fieldset legend {
  font-weight: bold;
  font-size: 120%;
  padding: 0 0.5em;
}
body.page-node-edit .date-padding,
body.page-node-add .date-padding,
body.page-node-edit .date-padding div,
body.page-node-add .date-padding div,
body.page-node-edit .date-padding label,
body.page-node-add .date-padding label {
  padding: 0px !important;
}
body.page-node-edit .date-no-float,
body.page-node-add .date-no-float {
  clear: none;
  float: left;
  width: auto;
}
body.page-node-edit .end-date-wrapper .form-item label,
body.page-node-add .end-date-wrapper .form-item label {
  float: left;
  padding-right: 20px;
  padding-top: 0px;
}
.fieldset-legend {
  font-weight: bold;
}
#page form .vertical-tabs ul.vertical-tabs-list a {
  color: #493986;
}
#page form .vertical-tabs ul.vertical-tabs-list a:hover {
  color: #493986;
}
/* --------------------------------------------------------------------------
   Drupal Tabs
   -------------------------------------------------------------------------- */
.tabs {
  padding-bottom: 20px;
}
ul.tabs.primary li,
ul.tabs.secondary li {
  white-space: nowrap;
  float: left;
  margin-top: 0.5em;
}
ul.tabs.primary li a,
ul.tabs.secondary li a {
  display: inline-block;
}
#page ul.tabs.primary {
  border-bottom: 2px solid #1a1c35;
  border-collapse: collapse;
  line-height: 1.4em;
  list-style: none outside none;
  margin: 5px;
  padding: 0px 15px;
}
#page ul.tabs.primary li a {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out !important;
  background-color: #ffffff;
  transition: none;
  border: 1px solid #b7b7b7;
  border-bottom: none;
  color: #333;
  padding: 5px 10px;
}
#page ul.tabs.primary li a:hover {
  background-color: #8ca36b;
  color: #fff;
}
#page ul.tabs.primary li.active a {
  background-color: #1a1c35;
  border: 1px solid #b7b7b7;
  border-bottom: none;
  color: #ffffff;
}
#page ul.tabs.secondary {
  padding-bottom: 0px;
}
#page #region-preface-first ul.tabs.primary {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
}
#page #region-preface-first ul.tabs.primary li {
  margin-bottom: -1px;
  padding-bottom: 0px;
}
#page #region-preface-first ul.tabs.primary li a {
  background-color: #1a1c35;
  color: #fff;
}
#page #region-preface-first ul.tabs.primary li a:hover {
  background-color: #8ca36b;
  color: #fff;
}
#page #region-preface-first ul.tabs.primary li.active a {
  background-color: #fff;
  color: #333;
}
body.resources-index #zone-content ul.tabs {
  display: none;
}
/* --------------------------------------------------------------------------
   Comments
   -------------------------------------------------------------------------- */
#region-content .submitted,
.comment footer {
  font-style: italic;
  padding: 0 0 1em 0;
}
#region-content .submitted,
.comment footer span.username {
  font-weight: bold;
}
#comments {
  margin: 1.5em 0em;
}
#comments span.username {
  color: #666;
  font-size: 1.1em;
}
#comments .indented {
  margin-left: 50px;
}
#comments .indented article {
  border-top: 1px dotted #b7b7b7;
  margin-top: 20px;
  padding-top: 20px;
}
nav.comment-links {
  margin-top: 20px;
}
nav.node-links ul {
  display: block !important;
  margin: 1.5em 0em;
}
.rating-wrapper {
  margin-top: 2em;
}
/* --------------------------------------------------------------------------
   Rating Stars
   -------------------------------------------------------------------------- */
div.fivestar-widget-static .star,
div.fivestar-widget .star,
div.fivestar-widget .cancel {
  width: 25px;
  height: 25px;
  text-indent: 0;
  background: none;
}
div.fivestar-widget-static .star a,
div.fivestar-widget .star a,
div.fivestar-widget .cancel a,
div.fivestar-widget-static .star span.on,
div.fivestar-widget .star span.on,
div.fivestar-widget .cancel span.on,
div.fivestar-widget-static .star span.off,
div.fivestar-widget .star span.off,
div.fivestar-widget .cancel span.off {
  background: none;
  color: #aaa !important;
}
div.fivestar-widget-static .star a:before,
div.fivestar-widget .star a:before,
div.fivestar-widget .cancel a:before,
div.fivestar-widget-static .star span.on:before,
div.fivestar-widget .star span.on:before,
div.fivestar-widget .cancel span.on:before,
div.fivestar-widget-static .star span.off:before,
div.fivestar-widget .star span.off:before,
div.fivestar-widget .cancel span.off:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  speak: none;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  white-space: pre;
  content: "\e80e \A\A\A";
}
div.fivestar-widget-static .star.on a,
div.fivestar-widget .star.on a,
div.fivestar-widget .cancel.on a {
  color: #70009a !important;
}
div.fivestar-widget-static .star.hover a,
div.fivestar-widget .star.hover a,
div.fivestar-widget .cancel.hover a {
  color: #00369a !important;
}
div.fivestar-widget-static .star span.on,
div.fivestar-widget .star span.on,
div.fivestar-widget .cancel span.on {
  color: #e77a22 !important;
}
.group_ratings .field-label {
  display: block;
  float: left;
  width: 40%;
  margin-bottom: 2em;
}
.group_ratings .field-items {
  display: block;
  float: left;
  width: 58%;
  margin-bottom: 2em;
}
.group_ratings .fivestar-combo-stars {
  padding-left: 1.5em;
}
.group_ratings .field {
  clear: both;
}
/* --------------------------------------------------------------------------
   Flagging and Status Icons
   -------------------------------------------------------------------------- */
.icon {
  margin-right: 0.5em;
  font-size: 110%;
}
.icon-large {
  font-size: 140%;
}
.icon-license_available {
  color: #469c36;
}
.icon-license_under_consideration {
  color: #e77a22;
}
.icon-trial_access_available {
  color: #00369a;
}
.icon-crl_desiderata {
  color: #dc286c;
}
.icon-crl_review_available {
  color: #70009a;
}
.icon-license_renewal_available {
  color: #47aea7;
}
.icon-past_license_offer {
  color: #a50808;
}
.icon-inactive_declined {
  color: #ed9800;
}
.icon-flagged {
  color: #dc286c;
}
.icon-vetted {
  color: #47aea7;
}
.icon-on_ballot {
  color: #e77a22;
}
.icon-approved {
  color: #469c36;
}
.icon-digitized {
  color: #00369a;
}
/* Activity Report */
#status-summary {
  margin-bottom: 3em;
}
#status-summary table,
#status-summary tr {
  border: none;
}
#status-summary .status-inactive {
  color: #aaa;
}
#status-summary .status-active {
  font-weight: bold;
}
/* Icon containers */
.view-teaser-status-highlight {
  display: inline-block;
  float: left;
}
.res_highlight .summary-icon {
  float: left;
}
.view-teaser-status-icons i.icon {
  float: left;
}
.view-teaser-status-icons {
  margin-top: 20px;
}
/* Styles for numbers used as icons */
span.big-num {
  font-size: 26px;
  /* Should be pixel size to match icons */
  margin-right: 0.2em;
  font-weight: normal;
  color: #555;
  display: inline-block;
}
#block-crl-resource-crl-resource-summary .res-highlight-row,
#block-crl-provider-crl-provider-summary .res-highlight-row {
  line-height: 1.5em;
}
#block-crl-resource-crl-resource-summary .res-highlight-row .icon-thumbs-up-alt,
#block-crl-provider-crl-provider-summary .res-highlight-row .icon-thumbs-up-alt,
#block-crl-resource-crl-resource-summary .res-highlight-row .icon-thumbs-down-alt,
#block-crl-provider-crl-provider-summary .res-highlight-row .icon-thumbs-down-alt {
  color: #555;
}
#block-crl-resource-crl-resource-summary .res-highlight-row-items,
#block-crl-provider-crl-provider-summary .res-highlight-row-items {
  float: left;
  max-width: 75%;
}
#block-crl-resource-crl-resource-summary .res-highlight-row-label,
#block-crl-provider-crl-provider-summary .res-highlight-row-label,
#block-crl-resource-crl-resource-summary .res-highlight,
#block-crl-provider-crl-provider-summary .res-highlight {
  font-size: 100%;
  margin: 1em 1.8em 1em 0;
  float: left;
}
#block-crl-resource-crl-resource-summary .res-highlight-row-label,
#block-crl-provider-crl-provider-summary .res-highlight-row-label {
  padding-top: 0.2em;
}
#block-crl-resource-crl-resource-summary .two .res-highlight-row-label,
#block-crl-provider-crl-provider-summary .two .res-highlight-row-label {
  margin-right: 2.7em;
}
/* --------------------------------------------------------------------------
   Purchase Proposal Index and Rating Widgets
   -------------------------------------------------------------------------- */
.rate-user .rate-fivestar-btn-filled,
.rate-fivestar-btn-filled,
.rate-fivestar-btn-empty {
  background-image: url(../images/fivestar_alt.png);
}
.rate-widget-fivestar ul {
  margin: 0px;
  padding: 0px;
}
.rate-widget-fivestar ul li,
.rate-widget-fivestar ul li a,
.rate-widget-fivestar ul li span {
  width: 1.3em;
  height: 16px;
}
.vote-result,
.vote-results {
  font-size: 80%;
}
.vote-pending {
  border: 1px solid red;
  padding: 0px 3px;
  color: red;
}
.vote-filled,
.vote-filled a {
  color: green !important;
  font-weight: bold;
  text-decoration: none !important;
}
.rate-widget ul li {
  margin: 0px;
  list-style: none outside none;
}
.view-pp-resource-lists table td {
  vertical-align: top;
}
.view-pp-resource-lists .views-field-value {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.view-pp-resource-lists .views-field-value,
.view-pp-resource-lists .views-field-value-1 {
  min-width: 100px;
}
.view-pp-resource-lists .vote-user-wrapper {
  min-width: 55%;
}
.view-pp-resource-lists .vote-summary-wrapper,
.view-pp-resource-lists .vote-user-wrapper {
  float: left;
}
.block-crl-pp-resource-feat .vote-user-wrapper {
  margin-bottom: 1em;
}
article form.shared-vote-input-form {
  width: 100%;
  float: none;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  border-left: none;
  border-bottom: 1px solid #bbb;
}
form.shared-vote-input-form .form-item-pledge {
  margin-bottom: 0px;
}
form.shared-vote-input-form .form-item-pledge input,
form.shared-vote-input-form .form-item-currency,
form.shared-vote-input-form input.form-submit {
  float: left;
  margin: 5px 10px 5px 0px;
}
form.shared-vote-input-form .form-notes {
  margin-top: 1em;
  clear: both;
}
/* --------------------------------------------------------------------------
   Messages and Related icons
   -------------------------------------------------------------------------- */
.icon-message {
  width: 20px;
  font-size: 100%;
  margin-right: 1em;
  display: block;
  float: left;
}
.message-icon-small.resource_new_alert,
.message-icon-small.resource_expires_soon,
.message-icon-small.resource_status_update,
.message-icon-small.resource_new_review,
.message-icon-small.resource_suggested {
  margin-top: 0.2em;
  background-image: url("../images/sprites.png?v=6");
  background-size: 500px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  background-position: 0px -450px;
}
.message-icon-small.resource_new_alert:before,
.message-icon-small.resource_expires_soon:before,
.message-icon-small.resource_status_update:before,
.message-icon-small.resource_new_review:before,
.message-icon-small.resource_suggested:before {
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .message-icon-small.resource_new_alert,
  .message-icon-small.resource_expires_soon,
  .message-icon-small.resource_status_update,
  .message-icon-small.resource_new_review,
  .message-icon-small.resource_suggested {
    background-image: url("../images/sprites2x.png?v=6");
  }
}
.view-crl-messages .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
}
.view-crl-messages .views-exposed-widgets label,
.view-crl-messages .views-exposed-widgets .views-widget {
  float: left;
  margin-bottom: 1em;
}
.view-crl-messages .views-row,
.view-crl-messages .more-link {
  padding: 2px 0px;
  margin-bottom: 15px;
}
.view-crl-messages span.message-list-text {
  display: block;
  float: left;
  max-width: 80%;
}
.view-crl-messages h3 {
  padding-left: 32px;
}
/* --------------------------------------------------------------------------
   Special CRL "tag" styles (alert and countdown text)
   -------------------------------------------------------------------------- */
span.crl-tag {
  font-size: 75%;
  margin-left: 1em;
}
h2 span.crl-tag {
  font-size: 50%;
  vertical-align: middle;
}
.crl-tag.urgent {
  color: #ff1f22;
}
.crl-tag.expiration {
  white-space: nowrap;
}
.crl-tag.alert {
  color: #fff;
  padding: 1px 3px;
  background-color: #ff1f22;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px 2px #ddd;
  -webkit-box-shadow: 0px 0px 2px 2px #ddd;
  box-shadow: 0px 0px 2px 2px #ddd;
}
#crl-overview .crl-tag.alert {
  margin: 0em 1em 0em 0em;
  float: left;
}
/* --------------------------------------------------------------------------
   Misc tweaks and adjustments
   -------------------------------------------------------------------------- */
body.page-node-add-resource #edit-field-provider,
.notice-box {
  border: 1px solid #d06500;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 2em;
}
.notice-box.extreme {
  border-width: 3px;
}
.form-item input[type="checkbox"].error,
.form-item input[type="radio"].error {
  outline: 2px solid red;
  -moz-appearance: none;
}
.horizontal-tabs :focus {
  outline: none;
}
#skip-link {
  display: none;
}
.clearer {
  clear: both;
}
a.no-link-style {
  text-decoration: none !important;
  color: inherit !important;
}
.editor-tools {
  float: right;
  width: 300px;
  text-align: right;
}
.flag-message {
  position: static;
  float: left;
  clear: both;
  padding: 0.5em;
  width: auto;
}
.view-resource-lists .flag-wrapper {
  float: right;
}
incldued via CSS3 table tr.even td,
table.zebra tr:nth-child(even) td {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
table th {
  background-color: #eee;
}
.videoWrapper {
  position: relative;
  padding-bottom: 58.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.edes-vid-highlight {
  float: right;
  border: 1px solid #555;
  margin: 0px 0px 5px 30px;
  width: 225px;
  background-color: #555;
}
.edes-vid-highlight p {
  font-size: smaller;
  margin: 5px 8px;
  color: #fafafa !important;
}
img.img-responsive {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}
fieldset {
  display: table-cell;
}
span.provider-p {
  font-family: Raleway, sans-serif;
  font-size: 75%;
  border: 1px solid #333;
  background-color: #70009a;
  color: #fff;
  padding: 3px 6px;
  margin-right: 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 2px 2px #ddd;
  -webkit-box-shadow: 0px 0px 2px 2px #ddd;
  box-shadow: 0px 0px 2px 2px #ddd;
}
span.provider-stem {
  display: none;
}
.uniqueness-dyn {
  background-position: 0 -1em !important;
  padding-left: 1em;
}
fieldset#edit-uniqueness {
  border-left: 3px solid #aaa;
  padding: 0px 15px;
}
fieldset#edit-uniqueness legend {
  float: left;
  margin-bottom: 15px;
}
#edit-uniqueness-type {
  clear: both;
}
#page {
  background: url("../images/body-bg.png?v=6") top right repeat-y;
}
#zone-content {
  background: url("../images/body-inner-bg.png?v=6") 0 0 repeat;
  border: 1px solid #b7b7b7;
  border-left: 0px;
}
body.resources-dashboard #zone-postscript a {
  text-decoration: none !important;
}
body.resources-dashboard #zone-postscript .region-postscript-first {
  outline: 1px solid #5d0081;
}
body.resources-dashboard #zone-postscript .region-postscript-second {
  outline: 1px solid #3e892f;
}
body.resources-dashboard #zone-postscript .region-postscript-third {
  outline: 1px solid #ca2161;
}
body.resources-dashboard #zone-postscript .attachment-after {
  font-weight: bold;
  margin-top: 1.5em;
}
body.resources-dashboard #zone-postscript .region {
  transition: outline 0.15s ease-in-out;
}
body.resources-dashboard #zone-postscript .region:hover {
  outline-width: 2px;
}
