#page {
  background: #fbfbfa;
}
.view-resource-lists .views-row,
.view-provider-lists .views-row,
.views-row.item-list-box {
  border: none;
}
.view-resource-lists .views-row.views-row-even,
.view-provider-lists .views-row.views-row-even,
.views-row.item-list-box.views-row-even {
  background-color: #f3f3f3;
}
body.dashboard #zone-preface .block-inner,
body.dashboard #zone-user .block-inner,
body.dashboard #zone-postscript .block-inner {
  outline: none;
}
#header-typography h2 .rtm {
  display: none;
}
