// This file will hold styles for all layouts using the alpha grid
// (i.e. not the mobile layout)


@import 'variables';
@import 'variables-@{theme}';


/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */

footer#section-footer #region-footer-first {
  background: url('../images/footer-tools-bg.png') 0 0 repeat;
  min-height: 250px;
  text-align: right;
}
#zone-footer .region-inner {
  padding: 75px 20px 20px 20px;
}
#zone-footer .region-footer-second-inner {
  padding-left: 0px;
}


/* --------------------------------------------------------------------------
   Misc and Dashboard
   -------------------------------------------------------------------------- */
body.resources-dashboard #zone-preface .block-inner {
  padding: 20px 50px;
}

.view-pp-resource-lists .views-field-value, .view-pp-resource-lists .views-field-value-1  {
  min-width: 280px;
}

// SPP vote
article form.shared-vote-input-form {
  width: 275px;
  float: right;
  margin: 0px 0px 10px 20px;
  padding-left: 20px;
  border-left: 0px solid #E3E3E3;
  border-bottom: none;
}


// Handle long lists of checkboxes that can be spread-out horizontally. This
// should be safe to do in most cases where "field-widget-options-buttons" are
// used
body.page-node-edit, body.page-node-add, body.page-eform-submit {
  .field-widget-options-buttons .form-checkboxes {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .form-item {
      float: left;
      margin-right: 2em;
      min-width: 25%;
    }
  }
  // One exception is the "CRL Status" checkbox selection, as the presentation
  // order needs to be preserved there
  .field-name-field-activity-crl-status, .field-name-field-resource-status {
    &.field-widget-options-buttons .form-checkboxes .form-item {
      float: none;
    }
  }
}

// Special styling for activity docs fieldgroup
aside#activity-documents {
  border: 1px solid darken(@page-background-color, 15%);
  border-radius: 3px;
  background-color: @page-background-color;
  padding: 15px;
  padding-top: 0px;
  float: right;
  margin: 0px 0px 15px 15px;
  width: 40%;
}

// Adjust alignment of active facet display
#block-crl-helpers-crl-helpers-facet-breadcrumb {
  .facet-breadcrumb-facet {
    clear: none;
  }
  // Some parts are only used in the mobile view.
  &.no-active-filters, & .facet-breadcrumb-add {
    display: none;
  }
}
