@primary-button-color: #1a1c35;
@secondary-button-color: #8ca36b;
@highlight-color: #e97100;
@subtle-fill-color: #ACBFB1;

@text-color: #333;
@colored-heading: #414169;
@link-color-primary: #493986;

@inline-button-color: #9c9eb0;

@header-background-color: #474b6f;
@footer-background-color: #2B2A45;
@footer-text-color: #D1CFBD;

@status-color-green: #469c36;
@status-color-orange: #e77a22;
@status-color-blue: #00369a;
@status-color-pink: #dc286c;
@status-color-purple: #70009a;
@status-color-aqua: #47aea7;
@status-color-red: #a50808;
@status-color-yellow: #ed9800;
@status-color-bright-red: #ff1f22;


